$fontColor: #888;

body {
  color: $fontColor;
  background-color: #fff;
  padding-top: 0px;
}
h1, h2, h3 {
  font-family: "museo-sans-1","museo-sans-2";
 }
.navbar-default {
	background: #000 url(../img/background.jpg) no-repeat center -200px;
	border-color: #333;
}
.navbar-brand {
	font-size: 25px;
}
.carousel-caption {
	right: 0%;
	left: 0%;
	padding-bottom: 30px;
	background-color: rgba(0,0,0,.85);
}
.start, .portfolio, .other, .side, .about {
	padding: 50px 0;
	border-bottom: 1px solid #000;
}
.start {
	background: transparent url(../img/bridge.png) no-repeat center bottom;
	background-size: cover;
	height: 320px;
	box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.5);

	hgroup {
		color: #fff;
		text-align: center;
		text-shadow: 1px 1px 10px #000;
	}

	h1 {
		font-size: 8em;
	}
}
.responsive-nav {
	.col-md-12 h3 {
		border-bottom: 1px solid #ccc;
		margin: 25px 0;
		padding: 0 0 10px;
	}	
	img {
		box-shadow: 1px 1px 10px #333;
	}
	img.codeimg {
		opacity: .5;
		box-shadow: none;
	}
}
.btn {
	transition: all 500ms linear;
}

#portfolio_sm {
	.row {
		padding-bottom: 20px;
	}
	a img {
		margin: 10px;
		box-shadow: 0px 1px 10px #333;
		opacity: .2;
	}
	a:hover img { 
		opacity: 1;
	}
}
.wip {
	color: red;
}

.social-icons {
	margin-top: 40px;
}

.icon {
	height: 34px;
	width: 34px;
	content: "";
	position: relative;
	display: inline-block;
	margin-right: 10px;
	vertical-align: text-bottom;
}
.icon.github {
	background: transparent url('../img/GitHub-Mark-32px.png') no-repeat top left;
}
.icon.linkedIn {
	background: transparent url('../img/In-2C-34px-R.png') no-repeat top left;
}

@media (max-width: 420px) {
	#start {
		h1 {
			font-size: 4em;
		}
	}
}
@media (min-width: 992px) {
	#start {
		height: 600px;
	}
}
@media (min-width: 1080px) {
	#start {
		height: 600px;
	}
	#start {
		hgroup {
			text-align: right;
		}
		h1 {
			font-size: 12em;
		}
	}
}